// Variable overrides
@font-face {
    font-family: 'PoppinsB';
    font-style: inherit;
    src: url('../assets/fonts/Poppins-Light.ttf');
  }
  
  @font-face {
    font-family: 'PoppinsH';
    font-style: normal;
    src: url('../assets/fonts/Poppins-Bold.ttf');
  }
  
  @font-face {
    font-family: 'PoppinsL';
    font-style: normal;
    src: url('../assets/fonts/Poppins-ExtraLight.ttf');
  }
  
  @font-face {
    font-family: 'PoppinsM';
    font-style: normal;
    src: url('../assets/fonts/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: 'PoppinsR';
    font-style: normal;
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
  }